<form #composeForm="ngForm" (ngSubmit)="handleSubmission()">
  <mat-form-field class="example-full-width">
    <mat-label>Blog Title</mat-label>
    <input matInput name="title" ngModel required />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Blog Body</mat-label>
    <textarea matInput name="body" ngModel required></textarea>
  </mat-form-field>
  <br />
  <button
    type="submit"
    [disabled]="!composeForm.valid"
    mat-raised-button
    color="primary"
  >
    Submit
  </button>
</form>
